html, body {
    margin: 0;
    padding: 0;
    font-family: "Source Sans 3", sans-serif;
}

* {
    box-sizing: border-box;
}

.bold {
    font-weight: 900;
}

.logo {
    width: 130px;
    height: 65px;
}

.user-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    height: 67px;
    border-bottom: 1px solid #C6C6C6;
    width: 100%;
}

.user-img {
    margin-right: 10px;
    width: 34px;
    height: 34px;
    border-radius: 50%;
}

.users {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    max-width: 1200px; 
}

p.bold {
    font-weight: bold;
    margin: 0;
    
}

.bold .location {
    display: block;
}

.container-users {
    padding: 15px;
    height: auto;
    flex-direction: column;
    display: block;
}

.user-info {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.location {
    font-weight: 400;
}

.user-post{
    display: inline-block;
    width: 100%;
}

.images {
    width: 100%;
    height: auto;
    margin:  0 auto;
}

.actions {
    padding: 15px;
}

.icons {
    width: 34px;
    height: 34px;
    margin-left: 5px;
}

.likes, .comments {
    margin-left: 5px;
}

.ligth {
    font-weight: 400;
}

.comments {
    margin-top: 0px;
}

.likes {
    margin-bottom: 0px;
}

.bottom {
    margin-top: 10px;
    margin-bottom: 0;
    border-bottom: solid #C6C6C6 1px;
}